<div class="my-12 container" fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="1.5%" ng-controller="ExampleController">
    <div class="arrow-back">
        <a (click)="goBack()">
            <img style="cursor: pointer;" src="/apps/taxcom/assets/images/arrow-back.png" />
        </a>
    </div>
    <vex-filters [typeCompany]="typeCompany" (onChange)="onChange($event)"></vex-filters>
</div>
<div [ngSwitch]="servicesType">
    <ng-template ngSwitchCase="Отчётность">
        <div class="my-12 container" fxLayout="row wrap" fxLayout.sm="column" 
        fxLayoutAlign="start stretch" fxLayoutAlign.sm="start stretch" fxLayout.xs="column" fxLayoutAlign.xs="start stretch"
        fxLayoutGap="15px" style="margin-top:90px;" ng-controller="ExampleController">
            <div *ngFor="let prod of productsList" class="card p-6" 
            fxFlex="calc(25%-15px)" fxLayout="column" fxLayoutAlign="start center">
                <h2 class="headline my-6" style="margin-top: 0; text-align: center;">{{prod.name}}</h2>
                <p class="description" *ngIf="prod.files!=null" (click)="openLink(prod.files)" style="color: blue; text-decoration: underline; cursor: pointer;">Подробнее о услуге<span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span></p>
                <div fxLayoutAlign="end center" fxLayout="column" style="width: 100%; height: 100%;">
                    <hr class="my-3" style="border-top: 2px dashed rgb(128, 128, 128); width: 90%; height: 1px;">
                    <!--<h3 class="price display-2 font-bold my-6">{{prod.prices.price}}<span class="text-secondary headline align-top">₽</span><span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span>
                    </h3> -->
                    <br/>
                    <button (click)="openLink(prod.links.link)" class="rounded-half max-w-full w-200" color="primary" mat-raised-button type="button">Подключится</button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template ngSwitchCase="Электронная подпись">
        <div class="my-12 container" fxLayout="row wrap" fxLayout.sm="column" 
        fxLayoutAlign="start stretch" fxLayoutAlign.sm="start stretch" fxLayout.xs="column" fxLayoutAlign.xs="start stretch"
        fxLayoutGap="15px" style="margin-top:90px;" ng-controller="ExampleController">
            <div *ngFor="let prod of productsList" class="card p-6" 
            fxFlex="calc(25%-15px)" fxLayout="column" fxLayoutAlign="start center">
                <h2 class="headline my-6" style="margin-top: 0; text-align: center;">{{prod.name}}</h2>
                <p class="description">{{prod.description}}</p>
                <div fxLayoutAlign="end center" fxLayout="column" style="width:100%; height:100%;">
                    <hr class="my-3" style="border-top: 2px dashed rgb(128, 128, 128); width: 90%; height: 1px;">
                    <h4 class="font-bold">Стандартный заказ<span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span></h4>
                    <!-- <h3 class="price display-2 font-bold">{{prod.price}}<span class="text-secondary headline align-top">₽</span><span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span>
                    </h3> -->
                    <hr class="my-2"/>
                    <button (click)="openLink(prod.link_fast)" class="rounded-half max-w-full w-200" color="primary" mat-raised-button type="button">Подключится</button>
                    <hr class="my-3" style="border-top: 2px dashed rgb(128, 128, 128); width: 90%; height: 1px;">
                    <h4 class="font-bold">Срочный заказ<span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span></h4>
                    <!-- <h3 class="price display-2 font-bold">{{prod.fast_price}}<span class="text-secondary headline align-top">₽</span><span class="help text-secondary headline align-top" title="Конечная цена будет выставленна в чеке">?</span>
                    </h3> -->
                    <hr class="my-2">
                    <button (click)="openLink(prod.link)" class="rounded-half max-w-full w-200" color="primary" mat-raised-button type="button">Подключится</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
