.arrow-back{
    margin-left: 9em;
    margin-right: 9.6em;
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
    margin-top: -50px;
    margin-bottom: -60px;
}
.arrow-back img{
    margin-left: 5px;
}
.help{
    text-align: center;
    margin-left: 6px;
    border-radius: 15px;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
    display: inline-block;
    padding: 3px;
    font-size: 10px;
    height: 14px;
    line-height: 9px;
    width: 14px;
}
.card{
    margin-bottom: 30px;
    padding: 1rem;
}