<div [ngSwitch]="serviceType">
    <ng-template class="accounting" ngSwitchCase="Отчётность">
        <div [ngSwitch]="typeCompany.name">
            <ng-template ngSwitchCase="ИП">
                <div class="filterAc" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                    <br />
                    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите программное решение:</h2>
                        <div class="{{buttonsL2.key}}" *ngFor="let buttonsL2 of typeAccounting?.L1?.L1_B1?.L2 | keyvalue">
                            <div *ngFor="let namesL2 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL2.key==namesL2.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL2(buttonsL2.key)">{{namesL2.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="clickedL2!=0&&typeAccounting?.L1?.L1_B1?.L2[clickedL2]?.L3" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите ваш налоговый режим:</h2>
                        <div class="{{buttonsL3.key}}" *ngFor="let buttonsL3 of typeAccounting?.L1?.L1_B1?.L2[clickedL2]?.L3 | keyvalue">
                            <div *ngFor="let namesL3 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL3.key == namesL3.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL3(buttonsL3.key)">{{namesL3.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </ng-template>
            <ng-template ngSwitchCase="ООО">
                <div class="filterAc" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                    <br />
                    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите программное решение:</h2>
                        <div class="{{buttonsL2.key}}" *ngFor="let buttonsL2 of typeAccounting?.L1?.L1_B2?.L2 | keyvalue">
                            <div *ngFor="let namesL2 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL2.key==namesL2.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL2(buttonsL2.key)">{{namesL2.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="clickedL2!=0&&typeAccounting?.L1?.L1_B1?.L2[clickedL2]?.L3" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите ваш налоговый режим:</h2>
                        <div class="{{buttonsL3.key}}" *ngFor="let buttonsL3 of typeAccounting?.L1?.L1_B2?.L2[clickedL2]?.L3 | keyvalue">
                            <div *ngFor="let namesL3 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL3.key == namesL3.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL3(buttonsL3.key)">{{namesL3.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </ng-template>
            <ng-template ngSwitchCase="null">
                <div class="filterAc" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
                    <br />
                    <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите ваш формат работы:</h2>
                        <div class="{{buttonsL1.key}}" *ngFor="let buttonsL1 of typeAccounting?.L1 | keyvalue">
                            <div *ngFor="let namesL1 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL1.key==namesL1.key&&buttonsL1.key!='L1_B3'&&buttonsL1.key!='L1_B5'">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL1(buttonsL1.key)">{{namesL1.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="clickedL1!=0" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите программное решение:</h2>
                        <div class="{{buttonsL2.key}}" *ngFor="let buttonsL2 of typeAccounting?.L1[clickedL1]?.L2 | keyvalue">
                            <div *ngFor="let namesL2 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL2.key == namesL2.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL2(buttonsL2.key)">{{namesL2.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="clickedL2!=0&&clickedL1!=0&&typeAccounting?.L1[clickedL1]?.L2[clickedL2]?.L3" fxLayout="row wrap"
                        fxLayoutAlign="space-between start" fxLayoutGap="7px">
                        <h2>Выберите ваш налоговый режим:</h2>
                        <div class="{{buttonsL3.key}}"
                            *ngFor="let buttonsL3 of typeAccounting?.L1[clickedL1]?.L2[clickedL2]?.L3 | keyvalue">
                            <div *ngFor="let namesL3 of nameAcBtns | keyvalue">
                                <div *ngIf="buttonsL3.key == namesL3.key">
                                    <button class="rounded-half max-w-full w-200" mat-raised-button type="button"
                                        (click)="clickL3(buttonsL3.key)">{{namesL3.value}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </ng-template>
        </div>
    </ng-template>
    <ng-template ngSwitchCase="Электронная подпись">
        <ul class="filterES">
            <li class="{{filter.id}}" *ngFor="let filter of typeElSignatures" fxLayout="row" fxLayoutAlign="space-around center"
             fxLayoutGap="30px" fxFlex (click)="filterES(filter.id)">
                <h3>
                    <br />{{filter.name}}
                    <hr class="my-3" style="border-top: 2px dashed rgb(2, 2, 2); width: 100%; height: 1px;">
                <br /></h3>
            </li>
        </ul>
    </ng-template>
</div>