ul{
    display: inline-block;
}
li{
    cursor: pointer;
}
.filterAc{
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
}
.filterES{
    border-radius: 5px;
    background: rgba(221, 221, 221, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
}
ul.filterES li{
    display: inline;
    border-right: 1px  solid black;
    // border-left: 1px  solid black;
    border-right: 5px;
    text-align: center;
}