<br/>
<div class="company" *ngIf="companies!='Ошибка получения списка компаний'; else elseBlock">
    <div class="choise" fxLayout="column" fxLayoutAlign="space-around center">
        <h3>Выберите Вашу компанию:</h3>
        <form>
            <select>
                <option (click)="selectCompany(null)">none</option>
                <option (click)="selectCompany(company)" *ngFor="let company of companies">{{company.name}}</option>
            </select>
        </form>
    </div>
</div>
<ng-template #elseBlock>
    <div class="company" fxLayout="column" fxLayoutAlign="space-around center">
        <p>Нет компаний</p>
    </div>
</ng-template>
<br />