.card{
    height: 200px;
    width: 150px;
    margin-bottom: 3%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.info{
    border-radius: 5px;
    background: rgba(251, 255, 27, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
}
.info p{
    text-align: center;
    font: bold;
}
.createTask{
    border-radius: 5px;
    background: rgba(251, 255, 27, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
    text-align: match-parent;
}
vex-company-choise{
    border-radius: 5px;
    background: rgba(251, 255, 27, 0.5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.065), 0 6px 20px 0 rgba(0, 0, 0, 0.065);
}